.bg-header {
	background-color: rgb(218, 126, 63);
}

.container-content {
	margin-top: 100px;
}

.cursor-pointer {
	cursor: pointer;
}

#div-wrapper-attention-list {
	height: 70vh;
	overflow: scroll;
	border: 1px solid lightgrey;
	padding: 16px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.div-row-attentions {
	border-bottom: 1px solid lightgrey;
	min-height: 50px;
}

.middle-row-attentions-img {
	line-height: 2.8;
}

.middle-row-attentions-txt {
	padding-top: 9px;
}

.middle-row-attentions-check {
	line-height: 3;
}

.img-jumbotron {
	width: 90%;
	z-index: -1;
}

.img-user-jumbotron {
	position: absolute;
	width: 25%;
	top: 24%;
	left: 38%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.txt-user-jumbotron {
	position: absolute;
	top: 56%;
	left: 24.5%;
	font-weight: bold;
	margin-bottom: 60px;
}

.div-question-mark-navbar {
	position: absolute;
	right: 16px;
}

.i-question-mark-navbar {
	font-size: 36px;
	color: white;
}

.display-none {
	display: none;
}

.loading-gif {
	width: 42px;
	margin: auto;
	display: none;
}