<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" charset="UTF-8" />

		<link rel="stylesheet" type="text/css" th:href="@{/css/vendor/bootstrap/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/vendor/font-awesome-4.7.0/css/font-awesome.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	</head>

	<body>

		<h1>Under Construction...</h1>
		<h3>plase come back later</h3>

		<script th:src="@{/js/vendor/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/js/main.js}"></script>

	</body>
</html>