<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" charset="UTF-8" />

		<link rel="stylesheet" type="text/css" th:href="@{/css/vendor/bootstrap/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/vendor/font-awesome-4.7.0/css/font-awesome.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	</head>

	<body>

		<div class="container container-content">

			<div class="table-responsive">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th class="text-left" th:text="#{label.seat.number}"></th>
							<th class="text-left" th:text="#{label.seat.fan.name}"></th>
							<th class="text-left" th:text="#{label.message}"></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="attention : ${attentions}">
							<td class="text-left align-middle" th:text="${attention.seatNumber}"></td>
							<td class="text-left align-middle" th:text="${attention.seatFanName}"></td>
							<td class="text-left align-middle" th:text="${attention.message}"></td>
						</tr>

						<tr th:if="${#lists.isEmpty(attentions)}">
							<td colspan="5" th:text="#{message.no.attentions.found}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>

		<script th:src="@{/js/vendor/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/js/vendor/sockjs-1.1.0.min.js}"></script>
		<script th:src="@{/js/vendor/stomp.min.js}"></script>
		<script th:src="@{/js/main.js}"></script>

	</body>
</html>